DATABASE_URL=postgresql://postgres:password!@localhost:5432/namadatabase
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=G
# Redirect URI harus sama dengan yang di Google Cloud Console
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
SESSION_SECRET=apa_aja_bisa_buat_secret
